<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trees</title>
  </head>
  <body>
    <h3>Upload trees</h3>
    <form action="/" method="POST" enctype="multipart/form-data">
      <label for="file">Image:</label>
      <input type="file" name="file" id="" />
      <br />
      <label for="name">Name:</label>
      <input type="text" name="name" id="nameInput" />
      <br />
      <label for="position">GPS Position:</label>
      <input type="text" name="position" id="positionInput" />
      <br />
      <button>send</button>
    </form>

    <ul>
      <% data.forEach(function(data) { %>
      <li>
        <img src="<%= data.gallery %>" style="width: 10%" />
        <br />
        <span><%= data.name %></span>
        <span> - </span>
        <span><%= data.position %></span>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
